body {
    margin: 2% 5%;
    background-color: rgb(171, 232, 250);
}

.grid {
    border-radius: 1%;
    box-shadow: 3px 3px 5px 6px gray;
    /* margin-bottom: 3%; */
    /* padding: 0; */
    margin: auto;
}

.btn-left {
    margin-left: -15%;
}

.btn-right {
    margin-right: -15%;
}

.navbar {
    margin: 2% -3% 2%;
    border-radius: .3rem;
}

.weapon {
    background-color: #057852;
    background-image: url("https://www.transparenttextures.com/patterns/nice-snow.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.summon {
    background-color: #613a00;
    background-image: url("https://www.transparenttextures.com/patterns/crossword.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.mWeapon {
    position: relative;
    display: inline-block;
    box-sizing: none;
    padding: 1%;
    margin-top: 3%;
    vertical-align: top;
}

.Grid-img-border {
    border: 5px solid #dc3545!important;
    border-radius: .3rem!important;
}

.mWeapon-img {
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 2px 3px #024932;
}

.mWeapon:hover .mWeapon-img {
    opacity: 0.5;
}

.subGrid {
    position: relative;
    display: inline-block;
}

.subWeapon {
    position: relative;
    display: inline-block;
    border-radius: 0;
    padding: 2%;
    vertical-align: top;
}

.subWeapon:hover .subWeapon-img {
    opacity: 0.5;
}

.subWeapon-img {
    width: 100%;
    position: relative;
    line-height: 1.5rem;
    box-shadow: 1px 1px 2px 3px #024932;
}

.itemCard {
    margin-right: 2%;
}

.listItem {
    position: relative;
    display: inline-block;
    text-align: left;
    line-height: 1.5rem;
}

.listItem-img {
    width: 100%;
}