body {
    margin: auto;
    padding: 2% 5%;
}

.grid {
    background-color: #0098b3;
    background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.mWeapon {
    position: relative;
    display: inline-block;
    box-sizing: none;
    padding: 1%;
    margin-top: 3%;
    vertical-align: top;
}

.mWeapon-img {
    width: 100%;
    height: 100%;
}

.subGrid {
    position: relative;
    display: inline-block;
}

.subWeapon {
    height: 3.4rem;
    position: relative;
    display: inline-block;
    border-radius: 0;
    padding: 1%;
    margin-top: 5%;
    box-sizing: none;
    vertical-align: top;
}

.subWeapon-img {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 20%;
}